<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>FeedBack Confirmation</title>
</head>
<body>
    <h2>FeedBack Confirmation</h2>
    <p><strong>Sender Name:</strong> {{ sender_name }}</p>
    <p><strong>Description:</strong> {{ description }}</p>
    <p><strong>Tab name:</strong> {{ Tab_name }}</p>
    <p><strong>Field type:</strong> {{ Field_type }}</p>
    <p><strong>problem:</strong> {{ problem }}</p>
    <p><strong>Email:</strong> {{ email }}</p>
    <p><strong>massage:</strong> {{ massage }}</p>
</html>
